body{
  display: flex;

}
.header-flexbox{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  position: fixed;
  height: auto;
  width: 75%;
}
